footer{
    bottom: 0;
    font-family: 'Maven Pro', sans-serif;
    background-color: #92decb;
    display: -webkit-box;
    height: 14% ;
    padding: 2% 0;
    font-size: 100%;
    vertical-align: baseline;
    width: 100%;
    clear: both;
    color: white;
}

footer img{
    height: 60px;
    width: 60px;
}

.footer-redesSociais {
    padding-left: 30%;
}

.footer-redesSociais a {
    margin: 0 15px 0 0;
}

.footer-redesSociais a i{
    font-size: 40px;
}

.footer-infos {
    padding-left: 10%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: #929292;
}

footer p {
    font-weight: bold;
}