/* body{
    background-color: #92DECB;
    font-family: 'Times New Roman';
    color: rgb(26, 88, 58);

} */

#form{
    font-family: 'Times New Roman';
    color: rgb(26, 88, 58);
    width: 40%;
    margin: auto;
    padding: 7%;
}

#card{
    margin-top: 10%;
    box-shadow: 1px 1px 5px;
    background-color: white;
    padding: 10%;
    border-radius: 2%;
}

#cardTop{
    text-align: center;
}

#imgLogin{
    border-radius: 10% ;
    width: 30%;
}

#titulo{
    color:rgb(26, 88, 58);
}#cardGroup{
    margin-bottom: 5%;
}

#cardGroup > label{
    width: 100%;
    color: rgb(26, 88, 58);
    display: block;
}

#cardGroup > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 10%;
    padding: 1%;
}

#cardGroup > button{
    background-color: rgb(26, 88, 58);
    width: 100%;
    border-radius: 30px;
    padding: 5%;
    color: white;
    border: 0px;
    outline: 0;
};
