#form{
    color: rgb(167 160 160);
    width: 40%;
    margin: auto;
    padding: 7%;
     
}
#imagem{
    margin-top: -2%;
    background-image: url(../img/FundoLogin.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#card{
    box-shadow: 1px 1px 5px;
    background-color: white;
    padding: 10%;
    border-radius: 2%;
}

#cardTop{
    text-align: center;
}

#imgLogin{
    border-radius: 10% ;
    width: 30%;
}

#titulo{
    color: rgb(141 86 4);
}

#cardGroup{
    margin-bottom: 5%;
}

#cardGroup > label{
    width: 100%;
    color: rgb(141 86 4);
    display: block;
}

#cardGroup > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 10%;
    padding: 1%;
}

#cardGroup > button{
    background-color: rgb(255 202 122);
    width: 100%;
    border-radius: 30px;
    padding: 5%;
    color: white;
    border: 0px;
    outline: 0;
    font-family: sans-serif;
    font-weight: bold !important;
    font-size: 14px !important;
};

.cardGroup #avisosLogin {
    color: red !important;
}