.container-fluid{
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
}

#headerList {
    padding-top: 20px;
}

#headerList li a {
    color: white;
}

#headerList li a:hover {
    color: #929292;
}

#logoMenu{
    width: 17%;
}

#menu_visitante{
    background-color: #92DECB;
    border-color: #92DECB;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
}
