#PerfCuidCorpo{
    display: flex;
    background-color: rgb(213, 213, 219);
    width: 90%;
    height: 100%;
    padding: 2%;
    margin: 0% auto 2% auto;
}
 
#ladoEsquerdo{
    width: 50%;
    margin: 2% auto 2% auto;
}

#avaliacao {
    display: flex;
    width: 100%;
    height: 51.5%;
    margin: auto;
    border: 3px solid black;
}

#quadroFoto{
    height: 80%;
    width: 38%;
    
}

#end{
    max-width: 100%;
    width: 100%;
    margin: 4px 12px;

}

#foto{
    max-width: max-content;
    width: 100%;
    border: 1px solid black;
    margin: 5px;
}

#nome{
    font-weight: bolder;
    font-size: 15px;
    max-width: max-content;
    margin-left: 0%;
}

#descricao{
    width: 100%;
    height: 50%;

}

#ladoDireito{
    width: 50%;
    margin: 2% auto 2% auto;
}

#dispCuidador{

    margin-left: auto;
    margin-right: auto;
    width: 70%
}

#dispCuidador, input[type=checkbox]{
    margin: 10px 21px -13px 22px;
}

#idDomingo, #idSegunda, #idTerca, #idQuarta, #idQuinta, #idSexta, #idSabado {
    margin-left: 25%;
}

#icone{
    color: white;
}

#btReservar{
    max-width: 70%;
    max-height: 100%;
    width: 100%;
    height: 50%;
    margin: 5% 15% 0% 15%;
}

#disponibilidade{
    font-size: x-large;
    max-width: 70%;
    max-height: 100%;
    width: 100%;
    height: 10%;
    margin: 0% 15% 0% 15%;
    border-bottom: 2px solid black;

}

#dataServ{
    font-size: x-large;
    max-width: 70%;
    max-height: 100%;
    width: 100%;
    height: 10%;
    margin: 5% 15% 0% 15%;
    border-bottom: 2px solid black;
}

#calendario{
    max-width: 70%;
    max-height: 100%;
    width: 100%;
    height: 10%;
    margin: 5% 15% 0% 15%;
}

#idSobre{
    margin-top: 3%;
}


#idSobreDescri{
    text-align:justify;
}

.checkDisp{
    transform: scale(2.0);
    margin: 9px 5px 5px 43px;
}

#valor {
    margin-top: -15px;
}